<div>

<!--   <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="waves-effect waves-light btn red">Topics</a>
    <ul>
      <li><a href="/topics/Celebrities" class="waves-effect waves-light btn red">Celebrities</a></li>
      <li><a href="/topics/Companies" class="waves-effect waves-light btn yellow darken-1">Companies</a></li>
      <li><a href="/topics/News" class="waves-effect waves-light btn green">News</a></li>
      <li><a href="/topics/Political" class="waves-effect waves-light btn blue">Political</a></li>
    </ul>
  </div> -->

    <div id="game-play-header" class="col s12 m6">
      <div id="instructions" class="card-panel teal lighten-2">
          Guess which tweet belongs to:
          <div id="twitter-user">
            @<%=@real.twitter_handle.twitter_handle%>
          </div>          
      </div>
      <div id="topic-specific-score" class="card-panel teal lighten-2">
          Score: <%=session[:score] || 0%>/<%=session[:times] || 0%>          
      </div>

      <div class="dropdown">
        <span>Mouse over me</span>
        <div class="dropdown-content">
          <p>Hello World!</p>
        </div>
      </div>

    </div>

    <div class="row">
      <% tweets = [@real,@fake].shuffle %>

      <div class="col s12 m6">
        <a href="/verify/<%=tweets[0].id%>">
          <div class="card hoverable">
            <% if tweets[0].media_url %>
              <div class="card-image">
                <img id="left-tweet-img" src="<%=tweets[0].media_url%>">
              </div>
            <% end %>
            <div class="card-content">
            <p id="left-tweet">
              <%=tweets[0].content%>
            </p>
          </div>
          </div>
        </a>
      </div>

      <div class="col s12 m6">
        <a href="/verify/<%=tweets[1].id%>">
          <div class="card hoverable">
            <% if tweets[1].media_url %>
              <div class="card-image">
                <img id="right-tweet-img" src="<%=tweets[1].media_url%>">
              </div>
            <% end %>
            <div class="card-content">
            <p id="right-tweet">
              <%=tweets[1].content%>
            </p>
          </div>
          </div>
        </a>
      </div>

    </div>

</div>

