<div>
  <div>
    <div id="Instructions">
      <p>
        Select the tweet you think came from the account below
      </p>
    </div>
    <div id="TwitterUser">
      <%=@real.twitter_handle.twitter_handle%>
    </div>
    <div>
      <% tweets = [@real,@fake].shuffle %>
      <div id="LeftTweetContainer">
        <a href="/verify/<%=tweets[0].id%>">
          <div id="LeftTweet">
            <p>
              <%=tweets[0].content%>
            </p>
          </div>
        </a>
      </div>
      <div id="RightTweetContainer">
        <a href="/verify/<%=tweets[1].id%>">
          <div id="RightTweet">
            <p>
              <%=tweets[1].content%>
            </p>
          </div>
        </a>
      </div>
    </div>
    <div>
      <h4>Score <%=session[:score] || 0%>/<%=session[:times] || 0%></h4>
    </div>
  </div>
</div>
