<div>
    <div id="game-play-header" class="col s12 m6">
      <div id="instructions" class="card-panel teal lighten-2">
          Guess which tweet belongs to:
          <div id="twitter-user">
            @<%=@real.twitter_handle.twitter_handle%>
          </div>          
      </div>
      <div id="topic-specific-score" class="card-panel teal lighten-2">
          Score: <%=session[:score] || 0%>/<%=session[:times] || 0%>
      </div>
    </div>

    <div class="row">
      <% tweets = [@real,@fake].shuffle %>

      <div class="col s12 m6">
        <a href="/verify/<%=tweets[0].id%>">
          <div class="card hoverable">
            <% if tweets[0].media_url %>
              <div class="card-image">
                <img id="left-tweet-img" src="<%=tweets[0].media_url%>">
              </div>
            <% end %>
            <div class="card-content">
            <p id="left-tweet">
              <%=tweets[0].content%>
            </p>
          </div>
          </div>
        </a>
      </div>

      <div class="col s12 m6">
        <a href="/verify/<%=tweets[1].id%>">
          <div class="card hoverable">
            <% if tweets[1].media_url %>
              <div class="card-image">
                <img id="right-tweet-img" src="<%=tweets[1].media_url%>">
              </div>
            <% end %>
            <div class="card-content">
            <p id="right-tweet">
              <%=tweets[1].content%>
            </p>
          </div>
          </div>
        </a>
      </div>

    </div>

</div>

